<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="1260">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- BootStrap CSS -->
    <link rel="stylesheet" media="screen" href={{ url_for('static', filename='bootstrap.min.css') }}>
    <!--FontAwesome Free CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <title>Exfo SVT Test Details</title>
    <style>
        th.rotate {
            height: 120px;
            white-space: nowrap;
        }
        th.rotate > div {
            transform:
                translate(1px, 0px)
                rotate(315deg);
            width: 20px;
        }
        th.rotate > div > span {
            border-bottom: 1px solid #ccc;
            padding: 5px 10px;
        }
        th.indent{
            text-indent: 50px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="/static/usc_logo.jpg" width="30" class="d-inline-block align-top" alt="U.S. Cellular Logo">
            {{tc_name}} Details
        </a>
    </nav>

    <div class="container col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-sm table-hover text-nowrap">
                <thead class="thead-light">
                <tr>
                    {% for key in svt_list_tc_details[0].keys() %}
                        <th>{{key}}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% for svt_tc_details_dicts in svt_list_tc_details %}
                        <tr>
                            {% for test_key, test_data in svt_tc_details_dicts.items() %}
                                {% if test_key == 'UEA_Success' or test_key == 'UEB_Success' %}
                                    {% if test_data == 'success' %}
                                    <td>
                                        <span style="color: green"><i class="fas fa-thumbs-up"></i></span>
                                    </td>
                                    {% elif test_data == 'failed' %}
                                        <td>
                                            <span style="color: red"><i class="far fa-thumbs-down"></i></span>
                                        </td>
                                    {% else %}
                                        <td>
                                            {{test_data}}
                                        </td>
                                    {% endif %}
                                {% else %}
                                    <td>
                                        {{test_data}}
                                    </td>
                                {% endif %}

                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <form>
        <button type="button" class="btn btn-outline-primary" onclick="history.back()">Go Back</button>
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="../../static/bootstrap.min.js"></script>
</body>
<!-- Start of Rocket.Chat Livechat Script -->
<!--<script type="text/javascript">-->
    <!--(function(w, d, s, u) {-->
        <!--w.RocketChat = function(c) { w.RocketChat._.push(c) }; w.RocketChat._ = []; w.RocketChat.url = u;-->
        <!--var h = d.getElementsByTagName(s)[0], j = d.createElement(s);-->
        <!--j.async = true; j.src = 'https://rocketchat.engapps.uscc.com/packages/rocketchat_livechat/assets/rocketchat-livechat.min.js?_=201702160944';-->
        <!--h.parentNode.insertBefore(j, h);-->
    <!--})(window, document, 'script', 'https://rocketchat.engapps.uscc.com/livechat');-->
    <!--// RocketChat(function() {-->
    <!--//     this.setDepartment('Bill');-->
    <!--// });-->

<!--</script>-->
<!-- End of Rocket.Chat Livechat Script -->
</html>